 <link rel="stylesheet" type="text/css" href="/css/tutorial.css">

<div class="tutorial">
    <div class="tutorial__header">
        
    </div>
    {{> Decks}}
</div>

<div class="user-may-start hidden">
    <button type="button" class="btn btn-primary">{{start}}</button>
</div>

<div class="banner-container">
    
</div>

<div class="hidden" id="textSamples">
    <span id="sampleCardCounter">{{selectedCards}}</span>
    <span id="cannotMore5">{{cannotMore5}}</span>
    <span id="txtOk">{{ok}}</span>
    <span id="txtCannot">{{cannot}}</span>
    <span id="tutorialStart">{{starting}}</span>
    <span id="startingDesc">{{starting-desc}}</span>
    <span id="userMayStart">{{mayStart}}</span>
    <span id="play">{{start_play}}</span>

</div>

<script src="/js/play/socket.js"></script>
<script src="/js/play/tutorial.js"></script>