    
<div class="center-box">
  <ul class="nav nav-pills nav-stacked game-main-menu">

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{play}}  <span class="fa fa-gamepad pull-right"></span> </a>
    <ul class="dropdown-menu">
      <li><a href="/play/tutorial">{{tutorial}} </a></li>
    </ul>
  </li>
    <li><a href="/cards">{{cards}} <span class="fas fa-layer-group pull-right"></span></a></li>
    <li><a href="/exchange_points">{{exchange}} <span class="fas fa-dice pull-right"></span></a></li>
    <li><a href="/shop">{{shop}} <span class="fa fa-shopping-bag pull-right"></span></a></li>
  </ul>
</div>



<script src="/js/home.js"></script>